[submodule "SFA3D-Monocular-Detection"]
	path = SFA3D-Monocular-Detection
	url = https://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@github.com/eqrwt/SFA3D-Monocular-Detection.git
